.form {
	width: min(35em + 5vw, 90%);
	display: flex;
	position: relative;
	border-radius: 0.35em;
}
.iconButton {
	position: absolute;
	bottom: 0.65em;
	right: 0.5em;
	transform: rotate(90deg);
}

.prompt {
	font-size: 0.8em;
	padding-top: 0.4em;
}
