.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4rem 0;
}
.center::before,
.center::after {
  content: "";
  filter: blur(45px);
  position: absolute;
  left: 50%;
}
.center::before {
  width: 480px;
  height: 360px;
  background: var(--secondary-glow);
  border-radius: 50%;
  margin-left: -400px;
}
.center::after {
  width: 240px;
  height: 180px;
  background: var(--primary-glow);
  z-index: -1;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

/* Disable transitions and animations if the user prefers reduced motion */
@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}
