.textarea {
  width: 100%;
  min-height: 48px;
  max-height: 300px;
  background-color: #ffffff33;
  line-height: 1.5;
  overflow-y: auto;
  outline: none;
  padding: 8px;
  resize: none;
}
.textarea:focus {
  outline: 2px solid rgb(var(--foreground-rgb), 0.1);
}